requests
beautifulsoup4
wbdata
pandas
matplotlib
lxml
pytrends
seaborn
numpy
ipython
jupyter
xlrd
twitter-scraper
markovify
folium
voila
plotly
dash
cufflinks
notebook
jupyterlab
jupyterlab-dash
jupyter-dash
openpyxl
pyinstaller
cx_freeze
auto-py-to-exe
virtualenv
jinja2